.body {
  text-align: center;
  background-color: rgb(253, 245, 230);
  width: 100%;
}

header {
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
    padding: 35px;
}

date {
    font-family: 'Brush Script MT', cursive;
    font-size: 110%;
}

name {
    font-family: "Lucida Handwriting", cursive;
    padding: 15px;
}

LazyLoadImage {
    padding: 15px;
}

img {
    height: 500px;
}

Divider {
    padding: 10px;
}