.body {
  text-align: center;
  background-color: rgb(253, 245, 230);
  width: 100%;
}

header {
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
}

date {
    font-family: 'Brush Script MT', cursive;
    font-size: 110%;
}

name {
    font-family: "Lucida Handwriting", cursive;
}

img {
    height: 500px;
    width: auto;
}
