.body {
  text-align: center;
  background-color: rgb(199, 152, 0);
}

header {
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
}

date {
    font-family: 'Brush Script MT', cursive;
    font-size: 110%;
}

img {
    height: 500px;
    width: auto;
}
