body {
  text-align: center;
  background-color: rgb(199, 152, 0);
}

header {
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
}

/* h3 {
    color: #eee;
} */


.app {
    text-align: center;
    background-color: rgb(199, 152, 0);
    height: 100%;
    justify-content: center;
    align-items: auto;
    text-align: center;
    text-emphasis-color: #eee;
  }
